/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
*::before,
*::after {
  box-sizing: border-box
}

nav,
footer,
header,
aside {
  display: block
}

input,
button,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400
}

a {
  text-decoration: none;
  color: inherit
}

/*----------------------------------------*/
:root {
  font-family: Inter, sans-serif;
}

body,
html {
  height: 100%;
  overflow: hidden
}

#root {
  height: inherit
}

/* Для Chrome, Safari и Edge */
::-webkit-scrollbar {
    width: 12px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160); /* Цвет ползунка */
    border-radius: 10px; /* Закругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}
